@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Ürünlerim
    </div>
    <div class="card-body">
        <div class="spinner-border" role="status" style="display: none;">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="productsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Aktif</th>
                        <th>Öne Çıkalarda</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Aktif</th>
                        <th>Eklenme Tarihi</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr name="@product.Id">
                            <td>
                                <img src="~/images/@product.ImageUrl" alt="product" width="40" height="50" />
                            </td>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>
                                @if (product.IsActive)
                                {
                                    <i class="fas fa-check text-center" style="color: green"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times text-center" style="color: red;"></i>
                                }
                            </td>
                            <td>
                                @if (product.IsFeatured)
                                {
                                    <i class="fas fa-check text-center" style="color: green"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times text-center" style="color: red;"></i>
                                }
                            </td>

                            <td>
                                <button class="btn btn-primary btn-sm btn-update" data-id="@product.Id"><span class="fas fa-minus-edit"></span>  Düzenle</button>
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@product.Id"><span class="fas fa-minus-circle"></span> Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
            var dataTable = $('#productsTable').DataTable({
                dom:
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        text: 'Ekle',
                        attr: {
                            id: "btnAdd"
                        },
                        className: "btn btn-success",
                        action: function(e, dt, node, config) {

                        }
                    }
                    //{
                    //    text: 'Yenile',
                    //    className: "btn btn-warning text-white",
                    //    action: function(e, dt, node, config) {
                    //    }
                    //}
                ],
                language: {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    },
                    "select": {
                        "rows": {
                            "_": "%d kayıt seçildi",
                            "0": "",
                            "1": "1 kayıt seçildi"
                        }
                    }
                }
            });

            $(function() {
                var url = "@Url.Action("CreateProduct", "Products")";
                var placeHolderDiv = $("#modalPlaceHolder");

                $("#btnAdd").click(function() {
                    $.get(url).done(function(data) {
                        placeHolderDiv.html(data);
                        placeHolderDiv.find(".modal").modal("show");
                    });
                });


                placeHolderDiv.on("click",
                    "#btnSave",
                    function(event) {
                        event.preventDefault();

                        var form = $("#form-product-add");
                        var actionUrl = form.attr("action");
                        var dataToSend = form.serialize();

                        $.post(actionUrl, dataToSend).done(function(data) {
                            var ajaxModel = jQuery.parseJSON(data);
                            var newForm = $(".modal-body", ajaxModel.ProductAddPartial);
                            placeHolderDiv.find(".modal-body").replaceWith(newForm);
                            var isValid = newForm.find('[name="IsValid"]').val();
                            if (!isValid) {
                                placeHolderDiv.find(".modal").modal("hide");

                                var newTableRow = dataTable.row.add([
                                    `
                                      <img src="/images/${ajaxModel.Product.ImageUrl}" alt="product" width="40" height="50" />
                                    `,
                                    ajaxModel.Product.Id,
                                    ajaxModel.Product.Name,
                                    ajaxModel.Product.Price,
                                    ajaxModel.Product.IsActive,
                                    ajaxModel.Product.IsFeatured,
                                    `
                                <td>
                                    <button class="btn btn-primary btn-sm btnUpdate" data-id="${ajaxModel.Product.Id}"><span class="fas fa-edit"></span>Düzenle</button>
                                    <button class="btn btn-danger btn-sm btnDelete" data-id="${ajaxModel.Product.Id}"><span class="fas fa-minus-circle"></span>Sil</button>
                                </td>
                                `
                                ]).node();
                                var jQueryTableRow = $(newTableRow);
                                jQueryTableRow.attr("name", `${ajaxModel.Product.Id}`);
                                dataTable.row(newTableRow).draw();
                                toastr.success("Ürün Başarılı Bir Şekilde Eklenmiştir");
                            } else {
                                var summaryText = "";
                                $('#validation-summary > ul > li').each(function() {
                                    var text = $(this).text();
                                    summaryText = `*${text}\n`;
                                });
                                toastr.warning(summaryText);
                            }

                        });

                    });

            });

            $(function() {
                var url = "@Url.Action("UpdateProduct", "Products")";
                var placeHolderDiv = $("#modalPlaceHolder");

                $(document).on("click",
                    ".btn-update",
                    function(event) {
                        event.preventDefault();
                        var id = $(this).attr("data-id");
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("UpdateProduct", "Products")',
                            data: { productId: id },
                            success: function(data) {

                                placeHolderDiv.html(data);
                                placeHolderDiv.find(".modal").modal("show");
                            },
                            error: function(err) {

                            }
                        });

                        placeHolderDiv.on("click",
                            "#btnUpdate",
                            function(event) {
                                event.preventDefault();
                                var form = $("#form-product-update");
                                var actionUrl = form.attr("action");
                                var dataToSend = form.serialize();

                                $.post(actionUrl, dataToSend).done(function(data) {
                                    var ajaxModel = jQuery.parseJSON(data);
                                    var id = ajaxModel.Product.Id;
                                    var tableRow = $(`[name="${id}"]`);
                                    var newForm = $(".modal-body", ajaxModel.ProductUpdatePartial);
                                    placeHolderDiv.find(".modal-body").replaceWith(newForm);
                                    var isValid = newForm.find('[name="IsValid"]').val();
                                    if (!isValid) {
                                        placeHolderDiv.find(".modal").modal("hide");
                                       
                                        dataTable.row(tableRow).data([
                                                        `
                                                  <img src="/images/${ajaxModel.Product.ImageUrl}" alt="product" width="40" height="50" />
                                                `,
                                                        ajaxModel.Product.Id,
                                                        ajaxModel.Product.Name,
                                                        ajaxModel.Product.Price,
                                                        ajaxModel.Product.IsActive,
                                                        ajaxModel.Product.IsFeatured,
                                                        `
                                            <td>
                                                <button class="btn btn-primary btn-sm btnUpdate" data-id="${ajaxModel.Product.Id}"><span class="fas fa-edit"></span>Düzenle</button>
                                                <button class="btn btn-danger btn-sm btnDelete" data-id="${ajaxModel.Product.Id}"><span class="fas fa-minus-circle"></span>Sil</button>
                                            </td>
                                            `
                                        ]);
                                        tableRow.attr("name", `${id}`);
                                        dataTable.row(tableRow).invalidate();
                                        toastr.success("Ürün Başarılı Bir Şekilde Güncellenmiştir");
                                    } else {
                                        var summaryText = "";
                                        $('#validation-summary > ul > li').each(function() {
                                            var text = $(this).text();
                                            summaryText = `*${text}\n`;
                                        });
                                        toastr.warning(summaryText);
                                    }

                                });
                            });

                    });
            });

            $(function() {
                $(document).on("click",
                    ".btn-delete",
                    function(event) {
                        event.preventDefault();
                        var id = $(this).attr("data-id");
                        Swal.fire({
                            title: 'Emin misiniz?',
                            text: "Silmek istediğinize Emin misiniz ?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Evet Sil!',
                            confirmCancelText: 'Hayır!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("DeleteProduct", "Products")',
                                    dataType: "json",
                                    data: { productId: id },
                                    success: function() {
                                        Swal.fire('Silindi!',
                                            'Başarılı Bir Şekilde Kaldırıldı.',
                                            'success');
                                        var tableRow = $(`[name=${id}]`);
                                        dataTable.row(tableRow).remove().draw();
                                    },
                                    error: function() {
                                        toastr.error("Bir Hata Oluştu");
                                    }
                                });
                            }
                        });
                    });

            });
        })
    </script>
}